.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f3f6;
}

.register-form {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-form h2 {
  text-align: center;
  margin-bottom: 10px;
}

.register-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.phone-section {
  display: flex;
  gap: 10px;
}

.phone-section input {
  flex: 1;
}

.otp-btn {
  padding: 10px;
  background-color: #00bc13;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-btn {
  padding: 12px;
  background-color: #2874f0;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.login-text {
  text-align: center;
  font-size: 14px;
}

.login-text span {
  color: #2874f0;
  cursor: pointer;
  font-weight: bold;
}
